# Play/evaluate against the protected Blacklight champion.
#
# Refresh this model with:
#   ./scripts/blacklight.sh champion init --model latest
# or:
#   ./scripts/blacklight.sh promote --candidate latest

SINCLUDE examples/trained_ai_common.cfg

AI_TRAINED_MODEL_FILE blacklight_champions/current_model.txt
AI_TRAINED_LEARN 0
AI_TRAINED_RECORD 0
AI_TRAINED_POLICY_POOL_SIZE 0
AI_TRAINED_POLICY_HISTORIC_PROB 0
